@import "tailwindcss";

@font-face {
	font-family: "Nokia Cellphone FC Small";
	src:
		url("/fonts/nokia-cellphone-fc-small.woff2") format("woff2"),
		url("/fonts/nokia-cellphone-fc-small.woff") format("woff"),
		url("/fonts/nokia-cellphone-fc-small.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@theme {
	--font-instrument: "Instrument Serif", serif;
	--font-serif: "Instrument Serif", serif;
	--font-sans: "Inter", sans-serif;
	--font-nokia: "Nokia Cellphone FC Small", monospace;
}

@utility font-instrument {
	font-family: "Instrument Serif", serif;
}

:root {
	font-family: var(--font-sans);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}
